.password-settings-main-container {
    height: 100%;
    padding: 25px;
    background-color: #f9f9f9;
}

.password-settings-main-container h1 {
    font-size: 17px;
}

.password-settings-inner-container {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.password-input-setting {
    display: flex;
    justify-content: space-between;
    padding: 17px 10px;
    border-radius: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.password-input-setting div {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin: 5px;
}

.password-input-setting div label {
    font-size: 15px;
}

.password-settings-inner-container div input {
    padding: 11px;
    margin: 6px 0;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ebebeb;
}

.password-change-btn-settings {
    display: flex;
}

.password-change-btn-settings button {
    margin-left: auto;
}

.password-change-btn-settings {
    margin: 10px;
}