.btn-main {
    width: fit-content;
    padding: 12px;
    background: #1ba0ab;
    border: none;
    border-radius: 7px;
    font-size: 20px ;
    color: #fff;
    cursor: pointer;
}

.btn-login {
    padding: 7px 13px;
    cursor: pointer;
}