.btn-primary {
    width: fit-content;
    padding: 20px;
    background: #1ba0ab;
    border: none;
    border-radius: 7px;
    font-size: 20px ;
    color: #fff;
    cursor: pointer;
}

.btn-login {
    padding: 7px 23px;
    cursor: pointer;
}

.btn-no-bg {
    background: none;
    border: 2px solid #1ba0ab;
    color: #1ba0ab;
}

@Media screen and ( max-width: 768px) {
    .btn-primary {
        padding: 12px;
        border-radius: 5px;
        font-size: 14px;
    }

    .btn-login {
        padding: 5px 11px;
    }
}