.reset-password-card {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 50px;
    width: 37%;
}
.reset-password-card p {
    font-size: 13px;
}

.reset-password-text {
    margin-bottom: 25px;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
}

.reset-password-form input {
    height: 45px;
    margin-bottom: 15px;
    padding: 0 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ebebeb;
    font-size: 15px;
}

.reset-password-form input:focus {
    outline: none;
    border: 1px solid grey;
}

.reset-password-form button {
    font-size: 17px;
    padding: 15px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #1ba0ab;
    color: #fff;
    margin-top: 15px;
    cursor: pointer;
}

@Media screen and (max-width: 768px) {
    .reset-password-card {
        width: 95%;
        padding: 20px;
        border: none;
    }
}