.services-card-container {
    width: 510px;
    height: 290px;
    border: 1px solid #f1f4f8;
    margin: 20px 20px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.services-card-container:hover {
    background-color: #f8feff;
}

.actual-services-img-container {
    width: 70px;
    height: 70px;
    background-color: #e9fafc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actual-services-img-container img {
    width: 50%;
    height: 50%;
}

.actual-services h2 {
    font-size: 29px;
    color: #302f3f;
}

.actual-services p {
    color: #8b8ca9;
    font-size: 19px
}