.sign-up-container {
    border: 1px solid grey;
    border-radius: 5px;
    width: 37%;
    padding: 50px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.sign-up-header {
    margin-bottom: 30px;
}

.sign-up-form input {
    height: 45px;
    margin-bottom: 15px;
    padding: 0 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ebebeb;
    font-size: 15px;
}

.sign-up-form input:focus {
    outline: none;
    border: 1px solid grey;
}

.sign-up-form input::placeholder {
    font-size: 15px;
}

.terms-agreement {
    display: flex;
    justify-content: space-between;
    width: 81%;
    height: 40px;
    margin-bottom: 15px;
}


.set-straight
 {
    margin-top: -7px;
    cursor: pointer;
}

.sign-up-form button {
    font-size: 17px;
    padding: 15px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #1ba0ab;
    color: #fff;
}

.small-size {
    font-size: 13px;
}

.small-size span {
    color: #1ba0ab;
    cursor: pointer;
}

.password-icons-sign-up {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
}


@Media screen and (max-width: 768px) {
    .sign-up-container {
        width: 95%;
        padding: 20px;
        border: none;
    }

    .terms-agreement {
        width: 73%;
    }
}