.navbar-conatiner {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 80px;
    padding-right: 40px;
    box-sizing: border-box;
    margin-top: 10px;
}

.company-logo h2 {
    color: #fff;
    cursor: pointer;
}

.nav-items-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navbar-items {
    display: flex;
}

.nav-ul-list {
    display: flex;
    margin-right: 30px;
}

.navbar-items ul li {
    text-decoration: none;
    list-style: none;
    margin: 0 15px;
    color: white;
}

.login-nav-not {
    display: none;
}

.navbar-login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

/* .navbar-login-btn button {
    width: 100%;
    padding: 10px;
    background-color: #1ba0ab;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-size: 17px;
} */

.nav-btn-container {
    position: relative;
    width: 50px;
    height: 50px;
    /* border: 3px solid white; */
    cursor: pointer;
    transition: all .5s ease-in-out;
    display: none;
}

.menu-btn {
    width: 40px;
    height: 4px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menu-btn::before, 
.menu-btn::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn::before {
    transform: translateY(-10px);
}

.menu-btn::after {
    transform: translateY(10px);
}

.nav-btn-container.open .menu-btn {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.nav-btn-container.open .menu-btn::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.nav-btn-container.open .menu-btn::after {
    transform: rotate(-45deg) translate(35px, 35px);
}


@Media screen and ( max-width: 768px ) {

    .company-logo h2 {
        color: black;
    }

    .nav-items-container {
        justify-content: flex-start;
    }

    .navbar-conatiner {
        padding: 0 10px;
        margin-top: 0;
        padding: 8px 25px;
        background-color: #fff;
        position: fixed;
        z-index: 1;
    }

    .navbar-items {
        position: absolute;
        margin-right: 0;
        top: 0;
        left: 0;
        width: 0%;
        height: 100vh;
        z-index: 2;
        background-color: #1ba0ab;
        transition: width 0.2s ease-in-out;
    }

    .nav-ul-list {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: fit-content;
        padding: 50px 5px;
        align-items: center;
        transition: width 0.2s ease-in-out;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .showNav {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .navbar-items ul li {
        margin: 15px 10px;
        font-size: 17px;
    }

    .navCon {
        width: 100%;
    }

    .nav-btn-container {
        z-index: 3;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
    }

    .navbar-login-btn {
        display: none;
    }

    .login-show {
        display: block;
        border: 1px solid black;
        padding: 10px 30px;
        background-color: black;
        cursor: pointer;
    }
    
}