.navbar-conatiner {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 80px;
    padding-right: 40px;
    box-sizing: border-box;
    margin-top: 10px;
}

.company-logo h2 {
    color: #fff;
    cursor: pointer;
}

.nav-items-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navbar-items {
    display: flex;
}

.navbar-items ul {
    display: flex;
    margin-right: 30px;
}

.navbar-items ul li {
    text-decoration: none;
    list-style: none;
    margin: 0 15px;
    color: white;
}

.navbar-login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.navbar-login-btn button {
    width: 100%;
    padding: 10px;
    background-color: #1ba0ab;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-size: 17px;
}

.nav-btn-container {
    position: relative;
    width: 80px;
    height: 80px;
    border: 3px solid white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menu-btn::before, .menu-btn::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}



@Media screen and ( max-width: 768px ) {

    .company-logo h2 {
        
    }

    .navbar-conatiner {
        padding: 0 10px;
        margin-top: 0;
        border: 1px solid;
    }

    .navbar-items {
       border: 1px solid blue;
        position: absolute;
        margin-right: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
        background-color: #1ba0ab;
        transition: width 0.2s ease-in-out;
    }

    .navbar-items ul {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: fit-content;
        padding: 50px 5px;
        align-items: center;
        transition: width 0.2s ease-in-out;
        border: 1px solid red;
    }

    .navbar-items ul li {
        margin: 15px 10px;
        font-size: 17px;
    }
    
}