.about-the-clinic-container {
    padding: 25px 90px;
    display: flex;
    margin-top: 159px;
}

.image-container-noahs-clinic {
    width: 450px;
    height: 490px;
    flex-shrink: 0;
    margin-right: 165px;
    position: relative;
    background-color: #e9fafc;
}

.image-container-noahs-clinic img {
    width: 92%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 40px;
    bottom: 40px;
}

.about-container-noahs-clinic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container-noahs-clinic h2 {
    font-size: 40px;
    color: #0b3361;
    margin: -4px 0;
}

.about-container-noahs-clinic h4 {
    color: #0e3464;
}

.about-container-noahs-clinic p {
    color: #567193;
    font-size: 18px;
    text-align: justify;
}

.btn-about {
    font-size: 16px;
}




@media screen and (max-width: 768px) {
    .about-the-clinic-container {
        flex-direction: column;
        border: 1px solid;
        padding: 10px 30px;
        margin-top: 95px;
    }

    .image-container-noahs-clinic {
        width: 100%;
        height: 250px;
        background-color: none;
    }

    .image-container-noahs-clinic img {
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .about-container-noahs-clinic h2 {
        text-align: center;
        font-size: 25px;
    }

    .about-container-noahs-clinic h4 {
        text-align: center;
        font-size: 13px;
    }

    .about-container-noahs-clinic p {
        text-align: center;
        font-size: 16px;
    }
    
    .btn-container-about {
        text-align: center;
    }
} 