.cancel-appointment-conatiner-pop-up{
    position: absolute;
    top: 30%;
    left: 30%;
    padding: 10px 50px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    height: 200px;
    width: 450px;
    border: 1px solid gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 5s ease-in-out;
    animation: slideIn 0.5s ease-in-out forwards;
}

.close-page-cancel {
    width: 20px;
    height: 20px;
    position: absolute;
    fill: red;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.cancel-appointment-inner-container {
    display: flex;
    flex-direction: column;
}

.cancel-appointment-conatiner-pop-up p {
    font-size: 19px;
}

.pay-cancelation-fee-btn-container {
    margin-top: 10px;
}

.pay-cancelation-fee-btn-container button {
    width: 100%;
    padding: 10px 15px;
    background-color: #1ba0ab;
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}


@keyframes slideIn {
    from {
        transform: translateY(-50%);
    }

    to {
        transform: translateY(0);
    }
}
