@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

.dashboard-menu-container {
    font-family: 'Source Sans Pro', sans-serif;
}

.gooday-text {
    margin-bottom: 30px;
}

.upcoming-appointment-countdown {
    background-color: #95cfd9;
    border-radius: 10px;
}

.upcoming-appointment-countdown h1 {
    text-align: center;
    padding-top: 20px;
    color: #093361;
    font-family: 'Share Tech', sans-serif;
}

.time-container {
    display: flex;
    margin-top: 53px;
    justify-content: center;
    font-family: 'Share Tech', sans-serif;
}

.con div  {
    width: 150px;
    height: 120px;
    background-color: #1baa76;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-container div p {
    color: white;
}

.rectangle {
    width: 100%;
}

.rectangle p {
    font-size: 120px;
    text-align: center;
}

.description {
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
}

.con {
    margin-right: 20px;
}

.additional-appointment-info {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 20px;
}

.additional-appointment-info button {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #1ba0ab;
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

