.navbar-dashboard-container {
    display: flex;
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px 9px 0;
}

.navbar-icons {
    width: 20px;
    height: 20px;
}

.search-container-navbar {
    width: 50%;
    display: flex;
    align-items: center;
}

.search-container-navbar input {
    padding: 20px;
    width: 75%;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-container-navbar input::placeholder {
    font-size: 16px;
}

.user-info-container {
    display: flex;
    flex-grow: 1;
}

.items-container-user {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.spacer {
    margin: 0 12px;
    cursor: pointer;
}

.dashboard-profile-pic-container {
    width: 40px;
    height: 40px;
}

.dashboard-profile-pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}