.register-new-pet-card-container {
    width: 95%;
    height: 90%;
    padding: 30px 45px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 10px;
}

.register-new-pet-card-inner-container h1 {
    margin-bottom: 20px;
}
 
.pet-register-form {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.pet-register-form div {
    display: flex;
    flex-direction: column;
}

.pet-register-form div label {
    font-size: 16px;
    margin-bottom: 5px;
}

.pet-register-form div input {
    width: 95%;
    padding: 10px 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.pet-register-form div input:focus {
    outline: none;
}

.pet-register-form button {
    padding: 15px 15px;
    background-color: #1ba0ab;
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.grid-col-span-2 {
    grid-column: span 2;
}